/*!
 * Copyright 2012 CreaLibre (Monterrey, MEXICO), all rights reserved.
 * Contact http://www.crealibre.com/ -- mailto:info@crealibre.com
 *
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 2.1 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Lesser General Public License along
 * with this program. If not, see <http://www.gnu.org/licenses/>..
 */


/* HEADER STYLES */
/*----------------------------------- */
header#pageheader {
    padding-bottom: 5px;
}

    div.header-content {
        padding-top: 40px;
    }

@media (max-width: 768px) {
    header#pageheader ul.breadcrumb, header#pageheader a.btn.btn-full {
	   display: none;
    }
}



/* MAIN SECTION STYLES */
/*-----------------------------------*/
@media screen and (min-width: 768px) {
    section#main .pull-right {
	float: right;
    }
}
/* FOOTER STYLES */
/*-----------------------------------*/
footer#pagefooter p.copyright {
	text-align: center;
}
/* EXTRA SHARED STYLES */
/*-----------------------------------*/
.btn-full {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
#loginBox .btn{
    margin:0 5%;
}
/* Fixed modal window position on mobile resolutions. */
@media screen and (max-width: 480px) {
    div.modal.fade.in {
	top: 12px;
    }
}
/*
----- Main -----
*/
section#main {
    padding-top: 24px;
    min-height:400px;
}
.mainCol div.section{
    margin-bottom:6px;
}


ul {
    list-style:none;
    margin:0 0 9px 0;
}
th {
    font-weight:bold;
    font-size:100%;
    line-height:18px;
    padding:12px;
}


p { /*This is Important for reledit viewing*/
  margin: 0;
}
table { /* for reledit viewing */
    width: 100%;
}


/* Primary View */
form .errorMsg{
    color: #B94A48;
    /* background-color: #F2DEDE; */
    /* border-color: #EED3D7; */
    /* border-radius: 4px 4px 4px 4px; */
    /* margin-bottom: 18px; */
    /* padding: 8px 35px 8px 14px; */
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); */
    /* position:absolute; */
    /* left:40%; */
}
.navcontentbottom{
    margin-top: 36px;
}
.navcontentbottom h4{
    margin: 18px 0 9px 18px;
}
.entityfield th, .entityfield th label{
    padding:12px;
    text-align:right;
}
table.attributeForm label.required {
  background: url("required.png") 100% 50% no-repeat;
  padding-right:8px;
}
table.attributeForm tr th{
    padding:12px 12px 12px 0;
    vertical-align:top;
}
.editableField{
    position:absolute;
    opacity:.6;
    margin-top:-2px;
    padding:2px 0;
}
.editableField:hover{
    opacity:1;
}
.entityfield .releditField{
    width:100%;
}
.entityfield .releditField p{
    margin:0;
}
.entityfield form.releditForm,
.entityfield .releditField fieldset,
.entityfield .releditField fieldset *{
    margin:0;
    padding:0;
}
.entityfield .releditField .buttonbar td{
    padding:2px 12px 12px 12px;
}
.entityfield .releditField .buttonbar td button{
    padding: 2px 12px;
}
table#relatedEntities, table.attributeForm{
    margin:0;
    padding:0;
}
form#entityForm div.helper{
    padding-top:4px;
    font-style:italic;
    font-size:10px;
    color:#aaa;
    line-height:12px;
}
form#entityForm legend{
    font-weight:bold;
    border-bottom:1px solid #ddd;
    color:#aaa;
}





/* reledit fixing from CubicWeb CSS   */
.releditForm {
 display:none;
}
.releditField {
    display: inline;
}
/* .editableField{ Use when reledit pencil goes at left
    margin-left: -10px;
    margin-top: -9px;
}*/
/* LOGIN */
/*-----------------------------------*/
.modal .modal-header{
    text-align:center;
}
.modal .modal-body{
	padding: 0px;
	margin-top: 32px;
}
.modal .alert{
	margin: 0;
	margin-bottom: 12px;
}
#loginForm {
	margin: 0;
}
#loginForm .formButtonBar{
	margin-bottom: 0;
}
#loginForm .formButtonBar button{
	margin-left: 32px;
}
#loginForm fieldset.default{
    margin-left: 15px;
}

#loginForm div.form-actions {
    margin-bottom: 0px;
    background: transparent;
}

#loginForm button.btn {
    float: right;
    margin-left: 10px;
}

#loginForm input.data {

}

/* Primary View */
.primary_entities div.row-fluid{
    border-bottom:1px dotted #cecece;
    margin-bottom: 9px;
}
.primary_entities div.row-fluid:last-child{
    border:0;
    margin:0;
}
.editableFieldValue{
    white-space: pre-line;
    text-align: justify;
}
.editableFieldValue:hover{
    opacity:.8;
}
.primary_entities li span p{
    font-size: 15px;
}
.primary_entities li span .editableFieldValue *{
    margin:0;
    padding:0;
}
.primary_entities li span form{
    margin:0;
    padding:0;
}
.primary_entities li span input.input-text,
.primary_entities li span textarea{
    margin:9px 0;
}
table.buttonbar{
    margin:0;
    max-width:190px; /*for two buttons display on reledit*/
}
/* Input Text facet fix */
.facet_filterbox h3.boxTitle{
    margin:0 0 9px 0;
}
/* .facet input{ */
/*     width: 90%; */
/* } */
/* .facet select { */
/*     width: 40%; */
/*     height: 20px; */
/*     padding-left:12px; */
/*     margin-bottom:9px; */
/* } */
a#facetBkLink{
    text-decoration:none;
}
.facetTitle{
    font-weight:bold;
}
.facetCheckBox{
    background: url("img/facet_unselected.png") 0% 50% no-repeat;
    padding-left:20px;
}
.facetValueSelected{
    background: url("img/facet_selected.png") 0% 50% no-repeat;
    font-weight:bold;
}
.facetValueDisabled{
    font-style:italic;
}
/* facets */
.facetTitle {
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
}
.facet select {
    display:none;
}
.facetValueDisabled span, div.facetCheckBox span{
    opacity:.6;
    padding-left:18px;
    text-decoration:none;
    font-size:12px;
}
div div.facetValueSelected{
    background-color: #08C;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:2px;
}
div.facetValueSelected span{
    opacity:1;
}
html input.input-text, html textarea{
    width:98%;
    min-width:150px;
    margin:2% 0 0 0;
}
table.attributeForm table#relatedEntities tr li{
    margin:0;
    padding-right:6px;
}
table.attributeForm table#relatedEntities tr li div a{
    padding-left:6px;
}
table.attributeForm table#relatedEntities th,table.attributeForm table#relatedEntities td{
    margin:0;
    padding:0;
    padding-left:6px;
}
table.attributeForm td{
    vertical-align:middle;
}

table.schemaInfo{ /*From Bootstrap*/
border:1px solid #ddd;border-collapse:separate;*border-collapse:collapse;border-left:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px
}
table.schemaInfo td{ /*From Bootstrap*/
border:1px solid #eee;border-collapse:separate;*border-collapse:collapse;
}

.cwinoutadd, .cwinoutremove{
    margin:3px 12px;
}
input.input-text, textarea{
    margin:12px;
    margin-left:0;
    margin-bottom:0;
}
select{
    margin:0;
    padding:0;
    padding:0 6px;
}
/*
----- BOXES -----
                   */
h3.boxTitle{
    border-bottom:#E5E5E5 solid 1px;
    margin:18px 0;
    padding-bottom:9px;
}
/*
----- PAGINATION -----
                   */
.pagination{
    margin:6px 0;
    height:auto;
}
.pagination img{
    vertical-align:middle;
}
.prevnext *{
    vertical-align:middle;
}
.prevnext a:hover{
    text-decoration:none;
}
.displayAllLink{ /*This class is a button btn*/
    margin:0;
}
.pagination select{
    border:0px;
    width:88px;
    color:#aaa;
    font-size:14px;
    padding:4px;
}
.pagination select:focus{
    outline-offset:0;
    outline:none;
}
/*
----- Buttons -----
                   */
.btn-micro {
    font-size: 10px;
    line-height: 12px;
    padding: 0 4px;
}
/*
----- Some Icons -----
                   */
th.sortable {
  background: url("img/table_sortable.png") 0% 45% no-repeat;
  padding-left:20px;
}
th.headerSortUp {
  background: url("img/table_up.png") 0% 45% no-repeat;
  padding-left:20px;
}
th.headerSortDown {
  background: url("img/table_down.png") 0% 45% no-repeat;
  padding-left:20px;
}

/*
----- UI content -----
                   */


@media only screen
and (min-width : 800px) {
/* Styles */

div#maincontent #aside-main {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 160px;
}
#page #maincontent{
    min-height:400px;
}
#maincontent table.album{
    width:70%;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
#aside-main{
    position:relative;
}
#page #maincontent{
    min-height:100px;
}
#maincontent table.album{
    width:100%;
}
.facetFilteredBox fieldset input{
    max-width:80px;
}
}
