/*
----- Main -----
*/
div#main {
    min-height:400px;
}
.mainCol div.section{
    margin-bottom:6px;
}
th {
    font-weight:bold;
    font-size:100%;
    line-height:18px;
    padding:12px;
}
.entityfield th, .entityfield th label{
    padding:12px;
    text-align:right;
}
form label{
    text-align:right;
}
table.attributeForm label.required {
  background: url("required.png") 100% 50% no-repeat;
  padding-right:8px;
}
table.attributeForm tr th{
    padding:12px 12px 12px 0;
    vertical-align:top;
}
.editableField{
    position:absolute;
    width:100%;
    opacity:.6;
}
.editableField:hover{
    opacity:1;
}
.entityfield .releditField{
    width:100%;
}
.entityfield form.releditForm,
.entityfield .releditField fieldset,
.entityfield .releditField fieldset *{
    margin:0;
    padding:0;
}
.entityfield .releditField fieldset{
    height:24px;
}
.entityfield .releditField .buttonbar td{
    padding:2px 12px 12px 12px;
}
.entityfield .releditField .buttonbar td button{
    padding: 2px 12px;
}
table#relatedEntities, table.attributeForm{
    margin:0;
    padding:0;
}
form#entityForm div.helper{
    padding-top:4px;
    font-style:italic;
    font-size:10px;
    color:#aaa;
    line-height:12px;
}
form#entityForm legend{
    font-weight:bold;
    border-bottom:1px solid #ddd;
    color:#aaa;
}
/* Input Text facet fix */
.facet_filterbox h3.boxTitle{
    margin:0 0 9px 0;
}
.facet input{
    width: 90%;
}
.facet select {
    width: 40%;
    height: 20px;
    padding-left:12px;
    margin-bottom:9px;
}
a#facetBkLink{
    text-decoration:none;
}
.facetTitle{
    font-weight:bold;
}
.facetCheckBox{
    background: url("img/facet_unselected.png") 0% 50% no-repeat;
    padding-left:20px;
}
.facetValueSelected{
    background: url("img/facet_selected.png") 0% 50% no-repeat;
    font-weight:bold;
}
.facetValueDisabled{
    font-style:italic;
}
input.input-text, textarea{
    width:75%;
    min-width:150px;
}
table.attributeForm table#relatedEntities tr li{
    margin:0;
    padding-right:6px;
}
table.attributeForm table#relatedEntities tr li div a{
    padding-left:6px;
}
table.attributeForm table#relatedEntities th,table.attributeForm table#relatedEntities td{
    margin:0;
    padding:0;
    padding-left:6px;
}
table.attributeForm td{
    vertical-align:middle;
}
.cwinoutadd, .cwinoutremove{
    margin:3px 12px;
}
input.input-text, textarea{
    margin:12px;
    margin-left:0;
    margin-bottom:0;
}
select{
    margin:0;
    padding:0;
    padding:0 6px;
}
/*
----- BOXES -----
                   */
h3.boxTitle{
    border-bottom:#E5E5E5 solid 1px;
    margin:18px 0;
    padding-bottom:9px;
}
/*
----- PAGINATION -----
                   */
.pagination img{
    vertical-align:middle;
}
.prevnext *{
    vertical-align:middle;
}
.prevnext a:hover{
    text-decoration:none;
}
.displayAllLink{ /*This class could be a button*/
    margin:18px 0;
}
.pagination select{
    border:0px;
    width:88px;
    color:#aaa;
    font-size:14px;
    padding:4px;
}
.pagination select:focus{
    outline-offset:0;
    outline:none;
}
