/*!
 * Copyright 2012 CreaLibre (Monterrey, MEXICO), all rights reserved.
 * Contact http://www.crealibre.com/ -- mailto:info@crealibre.com
 *
 * This program is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation, either version 2.1 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Lesser General Public License along
 * with this program. If not, see <http://www.gnu.org/licenses/>..
 */

/* HEADER STYLES */
/*-----------------------------------*/
header#pageheader {
    background: #f1f1f1;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
}
@media (max-width: 768px) {
    header#pageheader ul.breadcrumb, header#pageheader a.btn.btn-full {
	display: none;
    }
}
/* CONTEXTUAL TOOLBAR STYLES */
/*-----------------------------------*/
nav#toolbar .row {
    background: #f1f1f1; /* Old browsers */
    background: -moz-linear-gradient(top, #f1f1f1 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f1f1f1 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f1f1f1 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f1f1f1 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(top, #f1f1f1 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    margin-top: -1px;
    border: 1px solid #CCC;
    border-top: 0px;
}
nav#toolbar ul.nav {
    margin-bottom: 0px;
}
nav#toolbar .dropdown-menu li{
    padding:3px 0 0 6px;
    font-weight:bold;
}
nav#toolbar .pull-right .dropdown-menu {/*Fixing the Aling left Dropdown-Menu*/
    left:auto;
    right: 0;
}
nav#toolbar .pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}
nav#toolbar .dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
/* MAIN SECTION STYLES */
/*-----------------------------------*/
@media screen and (min-width: 768px) {
    section#main .pull-right {
	float: right;
    }
}
/* FOOTER STYLES */
/*-----------------------------------*/
footer#pagefooter p.copyright {
	text-align: center;
}
/* EXTRA SHARED STYLES */
/*-----------------------------------*/
.btn-full {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
/* Fixed modal window position on mobile resolutions. */
@media screen and (max-width: 480px) {
    div.modal.fade.in {
	top: 12px;
    }
}
/*
----- Main -----
*/
section#main {
    padding-top:24px;
    min-height:400px;
}
.mainCol div.section{
    margin-bottom:6px;
}
ul {
    list-style:none;
    margin:0 0 9px 0;
}
th {
    font-weight:bold;
    font-size:100%;
    line-height:18px;
    padding:12px;
}
.entityfield th, .entityfield th label{
    padding:12px;
    text-align:right;
}
form label{
    text-align:right;
}
table.attributeForm label.required {
  background: url("required.png") 100% 50% no-repeat;
  padding-right:8px;
}
table.attributeForm tr th{
    padding:12px 12px 12px 0;
    vertical-align:top;
}
.editableField{
    position:absolute;
    width:100%;
    opacity:.6;
}
.editableField:hover{
    opacity:1;
}
.entityfield .releditField{
    width:100%;
}
.entityfield form.releditForm,
.entityfield .releditField fieldset,
.entityfield .releditField fieldset *{
    margin:0;
    padding:0;
}
.entityfield .releditField fieldset{
    height:24px;
}
.entityfield .releditField .buttonbar td{
    padding:2px 12px 12px 12px;
}
.entityfield .releditField .buttonbar td button{
    padding: 2px 12px;
}
table#relatedEntities, table.attributeForm{
    margin:0;
    padding:0;
}
form#entityForm div.helper{
    padding-top:4px;
    font-style:italic;
    font-size:10px;
    color:#aaa;
    line-height:12px;
}
form#entityForm legend{
    font-weight:bold;
    border-bottom:1px solid #ddd;
    color:#aaa;
}
/* Input Text facet fix */
.facet_filterbox h3.boxTitle{
    margin:0 0 9px 0;
}
.facet input{
    width: 90%;
}
.facet select {
    width: 40%;
    height: 20px;
    padding-left:12px;
    margin-bottom:9px;
}
a#facetBkLink{
    text-decoration:none;
}
.facetTitle{
    font-weight:bold;
}
.facetCheckBox{
    background: url("img/facet_unselected.png") 0% 50% no-repeat;
    padding-left:20px;
}
.facetValueSelected{
    background: url("img/facet_selected.png") 0% 50% no-repeat;
    font-weight:bold;
}
.facetValueDisabled{
    font-style:italic;
}
input.input-text, textarea{
    width:75%;
    min-width:150px;
}
table.attributeForm table#relatedEntities tr li{
    margin:0;
    padding-right:6px;
}
table.attributeForm table#relatedEntities tr li div a{
    padding-left:6px;
}
table.attributeForm table#relatedEntities th,table.attributeForm table#relatedEntities td{
    margin:0;
    padding:0;
    padding-left:6px;
}
table.attributeForm td{
    vertical-align:middle;
}
.cwinoutadd, .cwinoutremove{
    margin:3px 12px;
}
input.input-text, textarea{
    margin:12px;
    margin-left:0;
    margin-bottom:0;
}
select{
    margin:0;
    padding:0;
    padding:0 6px;
}
/*
----- BOXES -----
                   */
h3.boxTitle{
    border-bottom:#E5E5E5 solid 1px;
    margin:18px 0;
    padding-bottom:9px;
}
/*
----- PAGINATION -----
                   */
.pagination{
    margin:6px 0;
}
.pagination img{
    vertical-align:middle;
}
.prevnext *{
    vertical-align:middle;
}
.prevnext a:hover{
    text-decoration:none;
}
.displayAllLink{ /*This class is a button btn*/
    margin:0;
}
.pagination select{
    border:0px;
    width:88px;
    color:#aaa;
    font-size:14px;
    padding:4px;
}
.pagination select:focus{
    outline-offset:0;
    outline:none;
}
